Q1) Discuss string slicing and provide examples.

Ans- Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.

In [ ]:
#Some examples of string slicing are:
#syntax of string = [start,end,step]

Course = "I am a student of Data Analytics Course"               #provide values upto third index only
Course[0:4]

'I am'

In [ ]:
Course = "I am a student of Data Analytics Course"              #provide values with gap of two indexes
Course[::2]

'Ia  tdn fDt nltc ore'

In [ ]:
Course = "I am a student of Data Analytics Course"               #provide values from 5th index upto last
Course[5:]

'a student of Data Analytics Course'

In [ ]:
a = 'My Name is Kirti Gupta'                                     #doesn't provide last index value
a[:-1]

'My Name is Kirti Gupt'

In [ ]:
a = 'My Name is Kirti Gupta'                                      #doesn't provide last 5 index values
a[:-5]

'My Name is Kirti '

In [ ]:
a = 'My Name is Kirti Gupta'                                      #provides the last 5 index values
a[-5:]

'Gupta'

In [ ]:
a = 'My Name is Kirti Gupta'
a[0:]

'My Name is Kirti Gupta'

In [ ]:
name = 'Monjolika'                                               #provides the name in reverse order
name[::-1]

'akilojnoM'

In [ ]:
a = 'My Name is Kirti Gupta'                                  #provide the value of 6 indexes with no gap
a[0:6:1]

'My Nam'

Q2) Explain the key features of lists in Python.

Ans-The key features of lists in Python are as follows:
a) It is an ordered collection of elements.
b) It stores hetrogeneous data i.e. the elements may be of different data types such as integer,float,string,complex.
c) It is mutable i.e. the elements of the lists are accessible and can be changed accordingly.

In [ ]:
lists = [True,'Kirti','Drashyam',3+4j,2.4,5,False]                     #ordered collection of elements and stores homogeneous data
lists

[True, 'Kirti', 'Drashyam', (3+4j), 2.4, 5, False]

In [ ]:
type(lists)

list

In [ ]:
lists = [True,'Kirti','Drashyam',3+4j,2.4,5,False]                     #access the element of index 0
lists[0]

True

In [ ]:
lists = [True,'Kirti','Drashyam',3+4j,2.4,5,False]                     #access the type of element of index 3
type(lists[3])

complex

In [ ]:
lists = [True,'Kirti','Drashyam',3+4j,2.4,5,False]                     #access the value of index 2 and change
lists[2] = 'Vinayak'
lists

[True, 'Kirti', 'Vinayak', (3+4j), 2.4, 5, False]

In [ ]:
lists = [True,'Kirti','Drashyam',3+4j,2.4,5,False]                     #access the value of index -1 and change it
lists[-1] = 2
lists

[True, 'Kirti', 'Drashyam', (3+4j), 2.4, 5, 2]

Q3) Describe how to access,modify and delete elements in a list with examples?

In [ ]:
#examples of accessing,modifying and deleting elements in a list:

book_lists = ['Hindi','English','Science','GK']
book_lists

['Hindi', 'English', 'Science', 'GK']

In [ ]:
book_lists[3]                                #accessing the element of 3rd index

'GK'

In [ ]:
book_lists[-2]                               #accessing the element of -2 index

'Science'

In [ ]:
book_lists.append("Computer")                #adding computer to the list
book_lists

['Hindi', 'English', 'Science', 'GK', 'Computer']

In [ ]:
book_lists.append('Statistics')              #adding statistics to the list
book_lists

['Hindi', 'English', 'Science', 'GK', 'Computer', 'Statistics']

In [ ]:
book_lists.remove('Hindi')                   #removing Hindi from the list
book_lists

['English', 'Science', 'GK', 'Computer', 'Statistics']

In [ ]:
num_lists = [3.4,True,5+6j,4,'Vinay']
num_lists

[3.4, True, (5+6j), 4, 'Vinay']

In [ ]:
num_lists = [3.4,True,5+6j,4,'Vinay']
num_lists[3]

4

In [ ]:
num_lists = [3.4,True,5+6j,4,'Vinay']
num_lists[4] = 'Kirti'
num_lists

[3.4, True, (5+6j), 4, 'Kirti']

In [ ]:
num_lists.append('Maths')
num_lists

[3.4, True, (5+6j), 4, 'Kirti', 'Maths']

In [ ]:
num_lists.append([4,7.8])                          #add a lists to the existing list
num_lists

[3.4, True, (5+6j), 4, 'Kirti', 'Maths', [4, 7.8]]

In [ ]:
num_lists.remove(True)
num_lists

[3.4, (5+6j), 4, 'Kirti', 'Maths', [4, 7.8]]

Q4) Compare and contrast tuples and lists with examples.

 Ans-**Tuples**-
 a) It is an ordered collection of elements.
 b) It stores hetrogeneous data i.e. the elements may be of different data types such as integer,float,string,complex.
 c) It is immutable i.e. the elements of the lists are not accessible and can not be changed accordingly.
                            whereas

   **Lists**-  
 a) It is also an ordered collection of elements.
 b) It also stores hetrogeneous data i.e. the elements may be of different data types such as integer,float,string,complex.
 c) It is mutable i.e. the elements of the lists are accessible and can be changed accordingly.

In [1]:
#examples of tuples

t = ()
type(t)

tuple

In [4]:
a = (1,8.8,'Kavita',True,6+7j,False)      #ordered collection of heterogeneous elements
type(a)

tuple

In [5]:
a[0]                                      #access the elements

1

In [6]:
a[4]

(6+7j)

In [7]:
type(a[3])

bool

In [8]:
a[-1] = 'Krishna'                         #not able the modify the element that's why called immutable

TypeError: 'tuple' object does not support item assignment

In [16]:
a[:3]                 #slicing of tuples

(1, 8.8, 'Kavita')

In [9]:
a[-1]

False

In [22]:
box_1=('a','b')
box_2=('c','d')
bag = (box_1, box_2)
bag

(('a', 'b'), ('c', 'd'))

In [23]:
first_name = ('Kirti')                #concatenation of tuples
last_name = (' Gupta')
first_name+last_name

'Kirti Gupta'

In [12]:
#examples of lists                                      #ordered collection of heterogeneous elements

list = ['namish','Vibha',3,True,8+2j,-33]
type(list)

list

In [13]:
list[-2]

(8+2j)

In [14]:
list[1]= "Vinayak"                             #change the element that's why mutable
list

['namish', 'Vinayak', 3, True, (8+2j), -33]

In [15]:
list[::1]                                  #slicing of lists

['namish', 'Vinayak', 3, True, (8+2j), -33]

In [20]:
type(bag)

tuple

In [31]:
list_1 = ['Vipin','Neha','Kartik']        #concatenation of lists
list_2 = ['Sakshi','Vijay']
list_1+list_2

['Vipin', 'Neha', 'Kartik', 'Sakshi', 'Vijay']

Q5) Describe the key features of sets and provide examples of their use.

Ans- The key features of sets are as follows:
 a) It is an unordered collection of unique elements.
 b) It stores heterogeneous data i.e. elements of different data type.
 c) It is immutable i.e. accessing of elements is not possible.

In [33]:
#some use cases of sets are

s = {1,5,7,3,4,2,7,1,4,5,7,3}
type(s)

set

In [34]:
s                                   #it provides onle unique elements

{1, 2, 3, 4, 5, 7}

In [35]:
name = {'Blue','Orange','Apple','Orange','Blue','Pink','Apple'}
name

{'Apple', 'Blue', 'Orange', 'Pink'}

In [36]:
log = {True,True,False,True,False,False,True}
log

{False, True}

In [37]:
s

{1, 2, 3, 4, 5, 7}

In [38]:
s[3]         #accessing of element is not possible because of unordered and unique element

TypeError: 'set' object is not subscriptable

In [39]:
name

{'Apple', 'Blue', 'Orange', 'Pink'}

In [40]:
name.add('Pink')            #pink is already there in the set that's why no change in the set elements
name

{'Apple', 'Blue', 'Orange', 'Pink'}

In [41]:
name.add('violet')         #add violet to the set
name

{'Apple', 'Blue', 'Orange', 'Pink', 'violet'}

In [42]:
name.remove("Apple")        #removes apple from the set
name

{'Blue', 'Orange', 'Pink', 'violet'}

Q6) Discuss the use cases of tuples and sets in Python Programming.

In [46]:
#some use cases of tuples:

tuple_1 = ('Data','Statistics','ML','Python','SQL')
tuple_1

('Data', 'Statistics', 'ML', 'Python', 'SQL')

In [53]:
tuple_1 = ('Data','Statistics','ML','Python','SQL')             #concatenation of tuples
tuple_2 = ('Statistics','Power Bi','Data','SQL','Data','ML','ML')
tuple = tuple_1+tuple_2
tuple

('Data',
 'Statistics',
 'ML',
 'Python',
 'SQL',
 'Statistics',
 'Power Bi',
 'Data',
 'SQL',
 'Data',
 'ML',
 'ML')

In [54]:
tuple.count('ML')                       #gives how many times ML is repeated in tuple

3

In [55]:
tuple.count('Statistics')

2

In [56]:
tuple.count('Data')

3

In [57]:
tuple_1

('Data', 'Statistics', 'ML', 'Python', 'SQL')

In [58]:
tuple_1.index('SQL')                      #gives the index of SQL

4

In [59]:
tuple_2

('Statistics', 'Power Bi', 'Data', 'SQL', 'Data', 'ML', 'ML')

In [60]:
tuple_2.index('ML')          #gives the index of element at 1st position

5

In [61]:
a = (67,34,25,90,45,77,12)
max(a)

90

In [62]:
min(a)

12

In [74]:
#some use cases of sets:

s = {'red',1,True,"Nikhil",9+7j,True,'red',1,'red',False,99,'Violet',False,99}
s

{(9+7j), 1, 99, False, 'Nikhil', 'Violet', 'red'}

In [73]:
type(s)

set

In [75]:
s.add(100)
s

{(9+7j), 1, 100, 99, False, 'Nikhil', 'Violet', 'red'}

In [76]:
s.remove(9+7j)
s

{1, 100, 99, False, 'Nikhil', 'Violet', 'red'}

In [77]:
s.pop()           #pop randomly removes any value from the set

False

In [78]:
s

{1, 100, 99, 'Nikhil', 'Violet', 'red'}

In [79]:
s.remove(4)         #it does throws an error as 4 is not an element of set s

KeyError: 4

In [80]:
s.discard(4)          #it doesn't throw an error even if 4 is not the element of set s

In [82]:
s.clear()              #it removes all the emements of set s
s

set()

In [84]:
del s               #deletes the set and its elements
s

NameError: name 's' is not defined

In [85]:
s1 = {'red','apple','Kirti','Blue'}
s2 = {'Kirti','pink','Orange','Blue'}
s1|s2                                         #this gives all the elements of s1 and s2

{'Blue', 'Kirti', 'Orange', 'apple', 'pink', 'red'}

In [86]:
s1 & s2                                       #this gives the common element of s1 and s2

{'Blue', 'Kirti'}

In [87]:
s1 - s2                                       #this removes the element of s2 from s1

{'apple', 'red'}

In [88]:
s1 ^ s2                                       #this gives the non common elements

{'Orange', 'apple', 'pink', 'red'}

Q7) Describe how to add,modify and delete items in a dictionary with examples.

Ans- We can see how to add,modify and delete items in a dictionary with the help of some examples-

In [89]:
dict = {'name':'Kirti Gupta','Course':'Data Analytics',}
type(dict)

dict

In [90]:
#adding elements in a dictionary

dict['address']='Maharashtra'                 #1st method
dict

{'name': 'Kirti Gupta', 'Course': 'Data Analytics', 'address': 'Maharashtra'}

In [94]:
d = {'email':'kirtigupta191999@gmail.com'}    #2nd method
dict.update(d)
dict

{'name': 'Kirti Gupta',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'kirtigupta191999@gmail.com'}

In [96]:
d1 = {'State':'UP','Country':'India'}
dict.update(d1)
dict

{'name': 'Kirti Gupta',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'kirtigupta191999@gmail.com',
 'State': 'UP',
 'Country': 'India'}

In [98]:
#modification of elements

dict['email']

'kirtigupta191999@gmail.com'

In [99]:
dict['email']='gupta@123'
dict

{'name': 'Kirti Gupta',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'gupta@123',
 'State': 'UP',
 'Country': 'India'}

In [100]:
dict['name']='Bipin'
dict

{'name': 'Bipin',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'gupta@123',
 'State': 'UP',
 'Country': 'India'}

In [101]:
#deleting elements

del dict['Country']
dict

{'name': 'Bipin',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'gupta@123',
 'State': 'UP'}

In [107]:
del dict['email']
dict

{'Course': 'Data Analytics', 'address': 'Maharashtra', 'State': 'UP'}

Q8) Discuss the importance of dictionary keys being immutable and provide examples.

Ans- A dictionary in Python is a collection of key-value pairs, where each key is associated with a value. The keys and values can be of any data types such as strings, numbers, or even tuples and lists. The important thing to remember is that keys must be unique, whereas values may not be unique.

In a dictionary, the key part must be immutable. This means that once a key is created, it cannot be changed. Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys. If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary.

In [111]:
d = {'name': 'Kirti Gupta',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'kirtigupta191999@gmail.com',
 'State': 'UP',
 'Country': 'India'}
d.keys()              #here these keys are immutable

dict_keys(['name', 'Course', 'address', 'email', 'State', 'Country'])

In [112]:
d.values()           #these values are mutable i.e. we can change it

dict_values(['Kirti Gupta', 'Data Analytics', 'Maharashtra', 'kirtigupta191999@gmail.com', 'UP', 'India'])

In [113]:
d['State']='Delhi'
d

{'name': 'Kirti Gupta',
 'Course': 'Data Analytics',
 'address': 'Maharashtra',
 'email': 'kirtigupta191999@gmail.com',
 'State': 'Delhi',
 'Country': 'India'}

#Assignment Completed