#Function Assignment

Q1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list?

In [ ]:
def sum_even(numbers):
    sum = 0
    for num in numbers:
        if num % 2 == 0:
            sum += num
    return sum

In [ ]:
numbers = [23,44,31,45,66,87,98,19]
sum_even(numbers)

208

Q2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
a = 'My name is Kirti Gupta'
type(a)

str

In [ ]:
a[::-1]     #this gives the reverse of the given string

'atpuG itriK si eman yM'

Q3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
l = [12,13,-14,15,-16]
m = list(map(lambda x: x**2,l))
m

[144, 169, 196, 225, 256]

Q4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(n):
    if n < 2 or n > 200:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [ ]:
is_prime(34)

False

In [ ]:
is_prime(71)

True

In [ ]:
is_prime(19)

True

In [ ]:
is_prime(14)

False

Q5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
def fib(n):
  a = 0
  b = 1
  for i in range(n):
    yield a
    a,b = b,a+b

In [ ]:
fib(15)

In [ ]:
tuple(fib(10))

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

Q6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def powers_of_two(max_exponent):
    for exponent in range(max_exponent + 1):
        yield 2 ** exponent

In [ ]:
for power in powers_of_two(10):
    print(power)

1
2
4
8
16
32
64
128
256
512
1024

Q7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
file_path = "C:\\USERS\\DOWNLOADS\\test.txt"
print(file_path)

C:\USERS\DOWNLOADS\test.txt

Q8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
t_list = [(2,3),(4,7),(5,6,),(9,2)]
result = sorted(t_list ,key = lambda x : x[1])
print(result)

[(9, 2), (2, 3), (5, 6), (4, 7)]

Q9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
cels_temp = [30,14,65,34,27]
def conv_farh(x):
  return (x*9/5)+32
map(conv_farh,cels_temp)

In [ ]:
cels_temp = [30,14,65,34,27]
def conv_farh(x):
  return (x*9/5)+32
list(map(conv_farh,cels_temp))

[86.0, 57.2, 149.0, 93.2, 80.6]

Q10. Create a Python program that uses `filter()` to remove all the vowels from a given string

In [ ]:
def is_not_vowel(char):
    return char.lower() not in 'aeiou'
input_string = "Hello, World!"
filtered_string = ''.join(filter(is_not_vowel, input_string))
print(filtered_string)

Hll, Wrld!

Q11. Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [1]:
# Sample input list of sublists
orders = [
    [34587, 40.50, 4],
    [98762, 56.80, 5],
    [77226, 32.95, 3],
    [88112, 24.99, 3]
]
calculate_order_value = lambda x: (x[0], round(x[1] * x[2] + (10 if x[1] * x[2] < 100 else 0), 2))
order_values = list(map(calculate_order_value, orders))
print(order_values)

[(34587, 162.0), (98762, 284.0), (77226, 108.85), (88112, 84.97)]

#Assignment Completed